.resizeAnimationStopper.background {
    transition: none !important;
    animation: none !important;
}

.background {
    background: no-repeat;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: fixed !important;
    right: 0;
    top: 0;
    transition: all 1s linear;
}

.anime .background {
    height: calc((100% - 60px) * 0.4 );
    width: calc(100% - 1080px - 60px );
    right: 30px;
    top:30px;
}

.topText {
    white-space: nowrap;
    text-align: center;
    width: 1080px;
    position: fixed;
    left: 50%;
    top: calc(50% + (347px/2) - 32px);
    transform: translate(-50%, -100%);
    transition: all 1s linear;
    padding: 20px 0 20px 0;
}

.anime .topText {
    left: calc( (1080px / 2) + 30px);
    top: 30px;
    transform: translate(-50%,0);
}

.bottomText {
    text-align: center;
    width: 1080px;
    white-space: nowrap;
    position: fixed;
    padding: 20px 0 20px 0;
    left: 50%;
    bottom: calc(50% - (347px/2));
    transform: translate(-50%, 0);
    transition: all 1s linear;
}

.anime .bottomText {
    left: calc( (1080px / 2) + 30px);
    bottom: 30px;
    transform: translate(-50%,0);
}

.topText, .bottomText{
    font-size: 100%;
    line-height: 16px;
    font-weight: bold;
}

.border {
    background-size: cover;
    width: 750px;
    height: 427px;
    margin: 0;
    padding: 0px;
    position: fixed ;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    cursor: pointer;
    /*todo prefix*/
    transition: width 1s linear, height 1s linear;
}

.border>div{
    width: 100%;
    height: 100%;
}

.anime .border {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.textHome {
    background-color: white;
    color: black;
    text-align: center;
    width: 675px;
    height: 347px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: width 1s linear, height 1s linear;

}

.titre{
    background: none;
    font-size: 51px;
    line-height: 50px;
    font-weight: normal;
    transition: all 200ms linear;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 70px));
}

.anime .titre{
    opacity: 0;
}

.textHome{
    font-size: 16px;
    font-weight: bolder;
    line-height: 30px;
    text-align: center;
}

.diaporama {
    display: none;
}

.anime .textHome {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    position: fixed;
    width: calc( 100% - 60px);
    height: calc( 100% - 60px);
}

.anime .textHome .titre{
    padding: 13px 0px 20px 0px;
    text-align: center;
    background-color: white;
}

.anime .diaporama {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.anime .diaporama img {
    height: 450px;
}

.anime .titre {
    user-select: none;
}

