.border {
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px;
    overflow: hidden;
    background-size: cover;
}

.border .content {
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: scroll;
    display: flex;
    flex-direction: row;
}

.textContent {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 1080px;
    padding-left: 90px;
    padding-right: 90px;
    flex-shrink: 0;
}

.textContent footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.textContent header, .textContent footer {
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-weight: bolder;
    background-color: white;
}

.textContent section {
    height: 100%;
    font-size: 35px;
    line-height: normal;
    padding-top: 40px;
}

.textContent ul {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 25px;
}

.textContent li {
    cursor: pointer;
}

.textContent a {
    text-decoration: none;
    color: black;
}

.description {
    overflow: scroll;
}

.diaporama {
    width: 100%;
    overflow: scroll;
    flex-shrink: 1;
}

.diaporama img {
    height: 50%;
    width: 100%;

}

::-webkit-scrollbar {
    display: none;
}
